# Git
.git
.gitignore

# Dependencies
**/node_modules

# Build outputs
**/dist
**/build

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Environment
**/.env
**/.env.*

# Coverage
**/coverage

# Documentation
README.md
*.md